<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Die Styles.css muss aus allen HTML-Dateien verlinkt werden-->
    <link rel="stylesheet" href="styles.css">
    <!--Es gibt im Internet Dienste, die Styles zur Verfügung stellen. Beispiel: font awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
    <title>Borken-Bank - Kontenübersicht</title>
</head>
<body>
    <header>
        <i class="fa-solid fa-piggy-bank"></i>
        <hr>
        <a href="index.html"><i class="fa-solid fa-home"></i></a> 
        <a href="hilfe.html"><i class="fa-solid fa-phone"></i> Hilfe</a> 
        <a href="postfach.html"><i class="fa-solid fa-envelope"></i> Postfach</a>
        <a href="profil.html"><i class="fa-solid fa-user"></i> Profil</a>
        <a href="agb.html"><i class="fa-solid fa-file-lines"></i> AGB</a>
    </header>
    <main>
        Hier kommt die Kontenübersicht hin
    </main>

    <footer>
        <p>Borken-Bank AG</p>
        <p>Geschäftsführer: Hans Dampf, IBAN: DE 55 28 000 000</p>
        <a href="https://www.borken-bank.de">Zur Homepage</a> 
    </footer>
</body>
</html>