<!--HTML-Grundgerüst über die Eingabe von html und dann html:5 auswählen-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <!--Der Titel steht im Browsertab-->
    <title>Borken-Bank - Login</title>
</head>
<body>
    <!--Der haeder soll die Seite strukturieren und bekommt entsprechende Styles zugwiesen-->
    <header>
        <!--Überschrift der Seite-->
        <h1>Herzlich Willkommen bei der Borken-Bank</h1>
    </header>
    <!--Formularfelder (Textboxen, Button etc.) müssen in form-Tags eingebettet werden-->
    <form>
        <!--Die Labels beschreiben die Textboxen. br bricht die Zeile um.-->
        <label>Benutzername</label><br>
        <input><br>
        <label>Kennwort</label><br>
        <input type="password"><br>
        <button>Einloggen</button>
    </form>
    <footer>
        &#169; 2024 Borken-Bank AG
    </footer>
</body>
</html>